
{% extends "base2.html" %}
{% block content %}


	
	<div id="wrapper" >
		<h1> Guest Browsing </h1>
					
		<div id="first">
			<div id="chart_div1" >
				<p id= "paragraph">   Height vs Weight: NFL players {{pos}}</p> 
				    <script>
					plot1();
					//alert("MO");

				    </script>

			</div>
		</div>
			
		<div id="second">
			<div id="chart_div2" >
				<p>A decription of the 2nd graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph2"/>
				 
			</div>
			
			<div id="chart_div3" >
				<p>A decription of the 3rd graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph3"/>
			</div> 
			
			<div id="chart_div4" >
				<p>A decription of the 4th graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph4"/>
			</div>
			
			<div id="chart_div5" >
				<p>A decription of the 5th graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph5"/>
			</div>			
		</div>
		
		<div id="third">
			<div id="chart_div6" >
				<p>A decription of the 6nd graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph6"/>
			</div>
			
			<div id="chart_div7" >
				<p>A decription of the 7rd graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph7"/>
			</div> 
			
			<div id="chart_div8" >
				<p>A decription of the 8th graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph8"/>
			</div>
			
			<div id="chart_div9" >
				<p>A decription of the 9th graph</p>
				<img src="static/images/example.jpg" class="im1" alt="My graph9"/>
			</div>			
		</div>	

			
	</div>
		

{% endblock %}


