{% extends "base.html" %}
{% block content %}
<div class = "container-fluid">
<div class = "row-fluid">
<div class="col-lg-2 col-offset-12 centered">

<script>

 $('document').ready( function() {
	$.getJSON ($SCRIPT_ROOT + '/_getJpy1', 
		{ 
			week:17

		},
		function(data) 	
		{ 		
			$('#toptab > div').hide();
			$('#toptab h1').bind('click',function(event) {
				$(this).siblings('div:visible').slideUp('2000');
				$(this).next().animate({'height':'toggle'},'2000','swing');	
				
				 if ( $(event.target).is('#h1Two') ) { top_players(data.topry, "receiving_yds" ) };
				

			});
		});
					
	});
</script>

<div class = "span6 center" id = toptab>
<h1 id = h1Two class = myh1 > Top players by receiving yds </h1>
<div class =  inside >
	<table class = "table table-striped">
		<tr> <td>Player's name</td>
		{% for p in topry %}
		{% if p.mark0 %}
			 <td>{{ p.name }} </td>
		{% endif %}
		{% endfor %}
		</tr>

		<tr> <td> Team </td>
		{% for p in topry%}
		{% if p.mark0 %}
			 <td>{{ p.team }}</td>
		{% endif %}
		{% endfor %}
		</tr>

		<tr> <td> season </td>
		{% for p in topry %}
		{% if p.mark0 %}
			 <td>{{ p.receiving_yds }}</td>
		{% endif %}
		{% endfor %}
		</tr>
	</table>

	<table class = "table table-striped">
		<tr> <td>Player's name</td>
		{% for p in topry %}
		{% if p.mark1 %}
			 <td>{{ p.name }} </td>
		{% endif %}
		{% endfor %}
		</tr>

		<tr> <td> Team </td>
		{% for p in topry %}
		{% if p.mark1 %}
			 <td>{{ p.team }}</td>
		{% endif %}
		{% endfor %}
		</tr>

		<tr> <td> current week </td>
		{% for p in topry %}
		{% if p.mark1 %}
			 <td>{{ p.receiving_yds }}</td>
		{% endif %}
		{% endfor %}
		</tr>
	</table>

	<table class = "table table-striped">
		<tr> <td>Player's name</td>
		{% for p in topry %}
		{% if p.mark2 %}
			 <td>{{ p.name }} </td>
		{% endif %}
		{% endfor %}
		</tr>

		<tr> <td> Team </td>
		{% for p in topry %}
		{% if p.mark2 %}
			 <td>{{ p.team }}</td>
		{% endif %}
		{% endfor %}
		</tr>

		<tr> <td> previous week </td>
		{% for p in topry %}
		{% if p.mark2 %}
			 <td>{{ p.receiving_yds }}</td>
		{% endif %}
		{% endfor %}
		</tr>
	</table>
</div>
</div>
</div>
</div>
<div class ="span12 pagination-centered" id=graph><p id= graph1 >  Click to Delete Graph </p><div>

{% endblock %}
